@font-face {
    font-family: "Rodondo";
    src: url(bingovista\\Rodondo.otf) format("OpenType");
}

* {
    font-family: "Rodondo";
}

body {
    background-color: #080808;
}

#board-list {
    position: absolute;
    top: 10px;
    left: 300px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.board-info {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 30px 0px;
    align-items: center;
}

.board-name {
    color: white;
    text-align: center;
    font-size: 50pt;
}

.board-shelter {
    color: white;
    text-align: center;
    font-size: 16pt;
}

.board-info canvas {
    cursor: copy;
}

#navigation {
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 256px;
    border: 2px solid #d0d0d0;
    padding: 10px;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#navigation a {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
#navigation a:hover {
    color: #0078f0;
}

#copy-confirm {
    font-size: 30pt;
    color: #20b020;
    visibility: hidden;
    position: absolute;
    z-index: 100;
    pointer-events: none;
    animation-duration: 3s;
    animation-name: fade-out;
}

@keyframes fade-out {
    0% {
        translate: 0 0;
        opacity: 1;
    }

    100% {
        translate: 0 -20px;
        opacity: 0;
    }
}
