#board-list {
    position: absolute;
    top: 10px;
    left: 300px;
    right: 300px;
    display: flex;
    flex-direction: column;
}

.board-info {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 30px 0px;
    align-items: center;
}

.board-name {
    color: white;
    text-align: center;
    font-size: 50pt;
}

.board-shelter {
    color: white;
    text-align: center;
    font-size: 16pt;
}

.board-info canvas {
    cursor: copy;
    width: 454px;
    height: 454px
}
