body {
    --canvas-size: 454px;
}

#board-list {
    position: absolute;
    top: 10px;
    left: 300px;
    right: 300px;
    display: flex;
    flex-direction: column;
}

.board-info {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 30px 0px;
    align-items: center;
}

.board-name {
    color: white;
    text-align: center;
    font-size: 50pt;
}

.board-info div {
    display: flex;
    flex-direction: row;
    width: var(--canvas-size);
    font-size: 20pt;
}

.board-shelter {
    color: white;
    text-align: center;
    flex-grow: 1;
}

.board-info a {
    height: 1em;
}

.board-info img {
    height: calc(1em - 4px);
    border: 2px solid #ffffff;
    border-radius: 6px;
}

.board-info img:hover {
    filter: brightness(130%);
}

.board-info canvas {
    cursor: copy;
    width: var(--canvas-size);
    height: var(--canvas-size);
}
