#navigation, #controls {
    position: fixed;
    top: 10px;
    bottom: 10px;
    width: 256px;
    border: 2px solid #d0d0d0;
    padding: 10px;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    color: #ffffff;
    font-size: 16pt;
}

#navigation {
    left: 10px;
}

#navigation a, #navigation a:visited {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #0066bb;
}

#navigation a:hover {
    color: #0078f0;
}

#controls {
    right: 10px;
}

#controls div {
    display: flex;
    flex-direction: row;
}

#controls input[type="checkbox"] {
    aspect-ratio: 1;
}

#controls label {
    flex-grow: 1;
}
