#navigation, #controls {
    position: fixed;
    top: 10px;
    bottom: 10px;
    width: 256px;
    border: 2px solid #d0d0d0;
    padding: 10px;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 16pt;
}

#navigation {
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    display: block;
}

#navigation a {
    color: #0066bb;
}

#navigation a.played {
    filter: saturate(0.5);
}

#navigation a:hover {
    filter: brightness(130%);
}

#controls {
    right: 10px;
    text-align: left;
}

#controls div {
    display: flex;
    flex-direction: row;
}

#controls input[type="checkbox"] {
    aspect-ratio: 1;
}

#controls label {
    flex-grow: 1;
    user-select: none;
}
